.one-page-container {
  background: var(--complimentary-bg-color);
  font:
    12px "Times New Roman",
    Times,
    sans-serif;
  line-height: 1.4;
  padding: 32px;
  border-radius: 4px;
  min-height: 76vh;
  max-height: 76vh;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
}
.one-page-container ol,
ul {
  list-style: none;
  padding: 0;
}

.one-page-container p,
ol,
ul {
  margin: 0;
}

.resume {
  margin: 0 auto;
  min-width: 480px;
  max-width: 720px;
  padding: 40px 60px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #aaa;
  -webkit-box-shadow: 2px 2px 4px #aaa;
}

.sectionBlock {
  display: flex;
  width: 100%;
}

.sectionName {
  width: 18%;
  vertical-align: top;
  display: inline-block;
}

.sectionContent {
  width: 80%;
  vertical-align: top;
  display: inline-block;
}

.sectionContent .title {
  font-weight: bold;
}

.sectionContent .date {
  float: right;
}

.sectionContent .separator {
  height: 14px;
}

.sectionLine {
  border-style: dashed;
  border-width: 1px;
  border-color: #cfcfcf;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.skillBlock {
  margin-bottom: 4px;
}

/* Media Queries */
@media only screen and (max-width: 1080px) {
  .one-page-container {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  .resume {
    margin: 0 auto;
    padding: 0.5em 1em;
    border: none;
    overflow-x: scroll;
  }
  .sectionContent {
    width: 100%;
  }
  .sectionContent .date {
    padding-right: 2em;
  }
  .sectionName {
    width: auto;
    margin-right: 4px;
  }
}
