.one-page-container {
  background: var(--complimentary-bg-color);
  font: 12px "Times New Roman", Times, sans-serif;
  line-height: 1.4;
  padding: 32px;
  border-radius: 4px;
  min-height: 76vh;
  max-height: 76vh;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
}
.one-page-container em {
  color: #999;
}
.one-page-container p {
  line-height: 1.4;
}
.one-page-container ul {
  margin-bottom: 0;
}
.one-page-container li {
  margin-bottom: 2px;
}

.resume {
  margin: 0 auto;
  max-width: 600px;
  padding: 40px 60px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #aaa;
  -webkit-box-shadow: 2px 2px 4px #aaa;
}

.coursesList {
  width: 28%;
  vertical-align: top;
  display: inline-block;
}

.largeFont {
  font-size: 20px;
}

.smallFont {
  font-size: 12px;
}

.sectionBlock {
  display: flex;
  width: 100%;
}

.sectionName {
  width: 18%;
  vertical-align: top;
  display: inline-block;
}

.sectionContent {
  width: 80%;
  vertical-align: top;
  display: inline-block;
}

.sectionContent ul {
  padding-left: 20px;
  margin-top: 6px;
  list-style-type: circle;
}

.sectionContent .title {
  font-weight: bold;
}

.sectionContent .date {
  float: right;
}

.sectionContent .separator {
  height: 14px;
}

.sectionLine {
  border-style: dashed;
  border-width: 1px;
  border-color: #CFCFCF;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.summary {
  margin-top: 6px;
}

.skillBlock {
  margin-bottom: 4px;
}

.jobBlock {
  page-break-inside: avoid;
}

/* Media Queries */
@media only screen and (max-width: 1080px) {
  .one-page-container {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  .resume {
    margin: 0 auto;
    max-width: 500px;
    padding: 0.5em 1em;
    border: none;
    overflow-x: scroll
  }
  .sectionContent {
    width: 100%;
  }
  .sectionContent .date {
    padding-right: 2em;
  }
  .sectionName {
    width: auto;
    margin-right: 4px;
  }
  .largeFont {
    font-size: 20px;
  }
  .smallFont {
    font-size: 14px;
  }
}
