.editor-form {

}

.resume-title {
  color: var(--primary-color);
  text-align: center;
} 

.form-section {
  border: 0;
  border-radius: 4px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.form-section-title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 48px;
  margin-bottom: 8px;
  color: var(--primary-color);
  background-color: transparent;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-card {
  border-radius: 4px;
  padding: 8px;
  border: 0.5px solid var(--border-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.delete-button {
  align-self: flex-end;
}

.add-button {
  align-self: flex-end;
}
