.resume-container {
  padding: 32px;
  padding-top: 0;
}

.resume-title {
  color: var(--primary-color);
  text-align: center;
}

.editor-preview-container {
  display: flex;
  justify-content: center;
}

.editor-container {
  max-height: 76vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 32px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
}

.preview-container {
  flex: 1;
  margin-left: 32px;
}
